* {
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #search-form {
    background-color: rgba(146, 146, 146, 0.8);
    position: absolute;
    border-radius: 4px;
  }
  
  #header {
    height: 80px;
    display: flex;
    align-items: center;
  }
  #header h1 {
    color: #FFF;
    text-shadow: rgba(0,0,0,.8);
    padding: 0 10px;
    font-size: 2.6em
  }

  img {
    opacity: 0.5;
  }

  img .bg_img {
    position: relative;
    top: 50%;
    left: 50%;
  }

  #flight-depart {
    display: flex;
  }

  #flight-search {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
  }
  
  .info-box {
    padding: 10px 10px;
    flex: 1;
    color: white;
  }

  .example_a {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #0482b4;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    cursor: pointer;
  }

  .example_a:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
  }

  #results {
    position: absolute;
    top: 50px;
    text-align: center;
    margin-bottom: 150px;
  }
