{{define "body"}}
<body>
    <form action="/searchEntry" id="search-form">
      <div id="header">
        <h1>FIND OUT COVID RESTRICTIONS</h1>
      </div>
      <!-- FROM/TO -->
      <div id="flight-depart">
        <div class="info-box">
          <label for="">LEAVING FROM</label>
          <input name="from" type="text" id="dep-from" />
          <div id="depart-res"></div>
        </div>
        <div class="info-box" id="arrive-box">
          <label for="">ARRIVING AT</label>
          <input name="to" type="text" id="dep-to" />
          <div id="arrive-res"></div>
        </div>
        <div class="info-box" id="arrive-box">
          <label for="">DATE</label>
          <input name="date" type="date" />
          <div id="arrive-res"></div>
        </div>
      </div>
    
      <!-- SEARCH BUTTON -->
      <div id="flight-search">
          <input type="submit" value="Search Information">
      </div>
        
    </form> 
    <div>
      {{if .}}
        <h1>Origin: {{.Result.Origin.Name}} Destination: {{.Result.Destination.Name}}</h1>
        <h2>{{.Result.AuthorizationStatus}}</h2>
        <p>{{.Result.Summary}}. {{.Result.Details}} as of {{.Result.StartDate}}.<p>
        {{range .Result.Requirements}}
          <p>{{.Summary}}.</p>
          {{range .Documents}}
            <p>Fill in documents prior to arrival: </p>
            <a href="{{.document_url}}">{{.document_url}}</a>
          {{end}}
        {{end}}
      {{else}}
        <div>{{.}}</div>
      {{end}}
    </div>
</body>
{{end}}
