<html><body>
<div id="search-form">
    <div id="header">
      <h1>FIND OUT COVID RESTRICTIONS</h1>
    </div>
    <section>
      <div class="flight" id="flightbox">
        
        <form onsubmit="getEntryInfo()" id="search-form">
        
        <!-- FROM/TO -->
        <div id="flight-depart">
          <div class="info-box">
            <label for="">LEAVING FROM</label>
            <input name="from" type="text" id="dep-from" />
            <div id="depart-res"></div>
          </div>
          <div class="info-box" id="arrive-box">
            <label for="">ARRIVING AT</label>
            <input name="to" type="text" id="dep-to" />
            <div id="arrive-res"></div>
          </div>
          <div class="info-box" id="arrive-box">
            <label for="">DATE</label>
            <input name="date" type="date" />
            <div id="arrive-res"></div>
          </div>
        </div>
      </div>
      
        <!-- SEARCH BUTTON -->
      <div id="flight-search">
        <div class="info-box">
          <input type="submit" value="Search Information">
        </div>
      </div>
        
      </form> 
      </div>
    </section>
      <div>
        {{if .}}
          <h1>Origin: {{.Result.Origin.Name}} Destination: {{.Result.Destination.Name}}</h1>
          <h2>{{.Result.AuthorizationStatus}}</h2>
          <p>{{.Result.Summary}}. {{.Result.Details}} as of {{.Result.StartDate}}.<p>
          {{range .Result.Requirements}}
            <p>{{.Summary}}.</p>
            {{range .Documents}}
              <p>Fill in documents prior to arrival: </p>
              <a href="{{.document_url}}">{{.document_url}}</a>
            {{end}}
          {{end}}
        {{else}}
          <div>Error for some reason...<div/>
        {{end}}
        </div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  const getData = async (from, to) => {
    console.log("getData", from, to)
    try {
      await axios.post('/searchEntry', {
        from,
        to,
      }, {
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded'
      }})
    } catch (err) {
      // console.log('err', err)
      let error = new Error(err)
      throw error
    }
  }

  function getEntryInfo() {
    document.getElementById("search-form").addEventListener('submit', async function(e) {
      e.preventDefault()

      const fromCountry = document.getElementById("dep-from").value
      const toCountry = document.getElementById("dep-to").value
      console.log(fromCountry, toCountry)
      await getData(fromCountry, toCountry)
    })
  }
</script>
</body>

</html>
