{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Entry Information</title>
  <link rel="stylesheet" href="./static/stylesheets/main.css">
</head>
<body>
  <img class="bg-img" src="/static/images/travel.jpeg">
    <form action="/searchEntry" id="search-form">
        
    <!-- FROM/TO -->
    <div id="header">
      <h1>FIND OUT COVID RESTRICTIONS</h1>
    </div>
    <div id="flight-depart">
      <div class="info-box">
        <label for="">Origin</label>
        <select name="from">
          <option value="DE">Germany</option>
        </select>
      </div>
      <div class="info-box" id="arrive-box">
        <label for="">Destination</label>
        <select name="to">
          <option value="ES">Spain</option>
        </select>
      </div>
      <div class="info-box" id="arrive-box">
        <input name="date" type="date" />
      </div>
    </div>
  
    <!-- SEARCH BUTTON -->
    <div id="flight-search">
        <button class="example_a" target="_blank" type="submit">Search</button>
    </div>
        
    </form>
    <div id="results">
      {{if .}}
        <h1>Origin: {{.Result.Origin.Name}} Destination: {{.Result.Destination.Name}}</h1>
        <h2>{{.Result.AuthorizationStatus}}</h2>
        <p>{{.Result.Summary}}. {{.Result.Details}} as of {{.Result.StartDate}}.<p>
        {{range .Result.Requirements}}
          <p>{{.Summary}}.</p>
          {{range .Documents}}
            <p>Fill in documents prior to arrival: </p>
            <a href="{{.document_url}}">{{.document_url}}</a>
          {{end}}
        {{end}}
      {{end}}
    </div>
</body>
</html>
{{end}}
